<service name="run">
  <summary>Example how to create a service</summary>
  <description><![CDATA[
  This service will run an command from command parameter.
  All parameters will be cast as environment variables
  ]]>
  </description>
  <parameter name="command">
    <description>command that will be launched</description>
  </parameter>
</service>
