Source: obs-service-run
Section: Utils
Maintainer: yourName <yourEmail@hostname.de>
Build-Depends: debhelper-compat (= 12)

Package: obs-service-run
Architecture: all
Depends: ${shlibs:Depends}
Description: single-line brief description
 Then, here there is the long description of the package.
 .
 Prepend every line with a single space. Use a single full stop
 prepended by a space to separate paragraphs.
 .
 For more information on the syntax, see the Debian Policy:
 http://www.debian.org/doc/debian-policy/ch-controlfields.html#s-f-Description
